{% extends 'base.html' %} {% block content %} 

<!-- Showcase -->
<h1 id="for-sale-title">Listings For Sale</h1>

{% for l in listings %}
<hr>
  <a href="{% url 'detail' l.house.id %}">
    <div class="house-for-sale-card">
        <h3><span>Owner: {{ l.house.user }}</span></h3>
        <div class="card-content">
          <span class="card-title">{{ l.house.name }}</span>
            <p class="price">Price: {{ l.price }}</p>
            <p>Address: {{ l.house.address }}</p>
            <p>City: {{ l.house }}</p>
            <p>Description: {{ l.house.description }}</p>
        </div>
    </div>
  </a>
{% endfor %}
            </div>
</section>

{% endblock %}