{% extends 'base.html' %}
{% block content %}

<div id="realtor-detail-card">
    <h3 id="realtor-name">{{ realtor.name }}</h3>
    {% if realtor.image %}
    <img src="{{ realtor.image.url }}" width="190px" height="200px" id="realtor-profile-pic">
    {% endif %}
    <p id="realtor-inner-info"><span class="realtor-info">Phone:</span> {{ realtor.phone }}</p>
    <p id="realtor-inner-info"><span class="realtor-info">Email:</span> {{ realtor.email }}</p>
    <p id="realtor-inner-info"><span class="realtor-info">Description:</span> {{ realtor.description }}</p>
    {% endblock %}
</div>