{%extends 'base.html'%} 
{%load static %} 
{% block content %} 
<section id="showcase-inner" class="py-5 text-white">
  <div class="about-page-container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 id="mission-statement-title">Mission Statement</h1>
        <p id="mission-statement">Dedicated to providing the quickest and fastest way to search for your new home.</p>
      </div>
    </div>
  </section>
  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2 id="about-title">About</h2>
          <p id="about-text">Castle's goal is to remain consistent in listing not only the most beautiful homes in your city, but all over the United States.
            From Los Angeles to New York City, Castle has been helping people all over the country find the home of their dreams. 
          </p>
        </div>
  </div>
</section>

{% endblock %}