{% extends 'base.html' %}
{% block content %}

<div id="home-container">
    <h1 id="home-title">CASTLE.</h1>
    <h3 id="home-quote">YOUR KINGDOM AWAITS.</h3>
</div>

<section id="home-info-container">
    <h3 id="stay-updated">Stay Updated</h3>
    <h4 id="container-text">At Castle, our passion is bringing people and homes together. Our listings are constantly being updated to help encapsulate the true power of home searching right at your finger tips!</h4>
</section>

<!-- <img src=" " id="home-photo"> -->


{% endblock %}
