{% extends 'base.html' %}
{% block content %}
<h1>House Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ house.name }}</span>
        <p>Description: {{ house.description }}</p>
        <p>address: {{ house.address }}</p>
        <p>city: {{ house.city }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'houses_update' house.id %}">Edit</a>
        <a href="{% url 'houses_delete' house.id %}">Delete</a>
      </div>
    </div> 
    
  </div>
</div>
<hr>
{% if listing %}
<h2 class="listed">Listed On</h2>
<p>Date: {{ listing.date}}</p>
<h2 class="listed">Listed By: </h2>
<p>{{ listing.realtor.name }}</p>
<h2 class="listed">Price: </h2>
<p>{{ listing.price }}</p>
{% else %}
<div>
  <h2>List the House</h2>
  <form action="{% url 'add_listing' house.id %}" method="post">
    {% csrf_token %}
    {{ listing_form.as_p }}
    <button>List the house</button>
  </form>
</div>
{% endif %}

{% endblock %}
