{% extends 'base.html' %}
{% block content %}
<h1>House Details</h1>

{% for photo in house.photo_set.all %}
<img src="{{ photo.url }}" width="750px" height="421px">
{% empty %}
<p class="details-text">No Photos Uploaded</p>
{% endfor %}
<form action="{% url 'add_photo' house.id %}" enctype="multipart/form-data" method="POST" id="add-image-form">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <input type="submit" id="photo-btn" value="Upload">
</form>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="house-details-card">
        <span class="card-title">{{ house.name }}</span>
        <p>Address: {{ house.address }}</p>
        <p>City: {{ house }}</p>
        <p>Description: {{ house.description }}</p>
      </div>
      {% if user.is_authenticated and house.user.id == user.id %}
      <div class="card-action">
        <a href="{% url 'houses_update' house.id %}">Edit</a>
        <a href="{% url 'houses_delete' house.id %}">Delete</a>
      </div>
      {% endif %}
    </div> 
    
  </div>
</div>
<hr>
{% if listing %}
<div class="listing-section">
  <h2 class="listed"><span>LISTED ON: </span> {{ listing.date}}</h2>
  <h2 class="listed"><span>LISTED BY: </span> {{ listing.realtor.name}}</h2>
  <h2 class="listed"><span>PRICE: </span> {{ listing.price}}</h2>
</div>
  {% else %}
  <div class="listing-section">
    <h2>LIST THE HOUSE</h2>
    <form action="{% url 'add_listing' house.id %}" method="post">
      {% csrf_token %}
      {{ listing_form.as_p }}
      <button>LIST HOUSE</button>
    </form>
  </div>
{% endif %}

{% endblock %}

