{% extends 'base.html' %}
{% block content %}
<h1>House Details</h1>


<div class="slide-gallery">
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

  {% for photo in house.photo_set.all %}
  <img class="mySlides" src="{{ photo.url }}" width="750px" height="421px">
  {% empty %}
  <p class="no-photos-uploaded">No Photos Uploaded</p>
  {% endfor %}
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>





{% if user.is_authenticated and house.user.id == user.id %}
<form action="{% url 'add_photo' house.id %}" enctype="multipart/form-data" method="POST" id="add-image-form">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <input type="submit" id="photo-btn" value="Upload">
</form>
{% endif %}
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="house-details-card">
        <span class="card-title">{{ house.name }}</span>
        <p>Address: {{ house.address }}</p>
        <p>City: {{ house }}</p>
        <p>Description: {{ house.description }}</p>
      </div>
      {% if user.is_authenticated and house.user.id == user.id %}
      <div class="card-action">
        <a href="{% url 'houses_update' house.id %}">EDIT</a>
        <a href="{% url 'houses_delete' house.id %}">SOLD</a>
      </div>
      {% endif %}
    </div> 
    
  </div>
</div>
<hr>
{% if listing %}
<div class="listing-section">
  <h2 class="listed"><span>Listed On: </span> {{ listing.date}}</h2>
  <h2 class="listed"><span>Realtor: </span> {{ listing.realtor.name}}</h2>
  <h2 class="listed"><span>Price: </span> {{ listing.price}}</h2>
</div>
  {% else %}
  <div class="listing-section">
    <h2>LIST THE HOUSE</h2>
    <form action="{% url 'add_listing' house.id %}" method="post" id="listing-inputs">
      {% csrf_token %}
      {{ listing_form.as_p }}
      <button id="list-house-btn">List House</button>
    </form>
  </div>
{% endif %}


<script>
  let slideIndex = 1;
  showSlides(slideIndex);
  
  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("demo");
    let captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
  
  </script>


{% endblock %}

