{% extends 'base.html' %} {% block content %} 

<!-- Showcase -->
<h4 id="filter-location-title">All Homes</h4>
<section id="showcase">
  <div class="container text-center">
      <div class="overlay p-5">
        <p id="filter-location">Filter by Location</p>
        <div class="search">
          <div class="search-house">
            <form action="" method="GET" class="search-house">
              {{ form.as_p }}
              <button type="submit" id="search-btn">Search</button>
            </form>
          </div>
          <div>
        
            {% for house in object_list %}
            <hr>
            <a href="{% url 'detail' house.id %}">
                <div class="card">
                    <div class="house-card-content">
                        <span class="card-title">{{ house.name }}</span>
                        <p>Address: {{ house.address }}</p>
                        <p>City: {{ house }}</p>
                        <p>Zip Code: {{ house.zipcode }}</p>
                        <p>Description: {{ house.description }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
            </div>
        </div>
    </div>
  </div>        
</section>

{% endblock %}