{% extends 'base.html' %} {% block content %} 

<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
      <div class="overlay p-5">
        <h1 id="filter-location-title">Filter by Location</h1>
        <p id="filter-description">Property searching just got easy!</p>
        <div class="search">
<p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
          voluptatum tempore! Consectetur, id commodi!</p>
        <div class="search">
          <form action="" method="GET">
            {{ form.as_p }}
            <button type="submit">Search</button>
          </form>
        </div>
        <div>
          <h1>House List</h1>
      
          {% for house in object_list %}
          <hr>
          <a href="{% url 'detail' house.id %}">
              <div class="card">
                  <div class="card-content">
                      <span class="card-title">{{ house.name }}</span>
                  <p>Description: {{ house.description }}</p>
                  <p>address: {{ house.address }}</p>
                  <p>city: {{ house.city }}</p>
                  <p>zipcode: {{ house.zipcode }}</p>
                  </div>
              </div>
          </a>
          {% endfor %}
          </div>
      </div>
  </div>        
</section>

{% endblock %}