{% extends 'base.html' %} {% block content %} 

<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 id="filter-location-title">Filter by Location</h1>
        <p id="filter-description">Property searching just got easy!</p>
        <div class="search">
          <form action="search.html" id="search">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)">
              </div>
              <div class="col-md-4 mb-3">
                <label class="sr-only">City</label>
                <input type="text" name="city" class="form-control" placeholder="City">
              </div>
              <div class="col-md-4 mb-3">
                <label class="sr-only">State</label>
                <select name="state" class="form-control">
                  <option selected="true" disabled="disabled">State (All)</option>
                  <option value="CA">California</option>
                </select>
              </div>
            </div>
<div>
  {% for house in houses %}
  <a href="{% url 'detail' house.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ house.name }}</span>
        <p>price: {{ house.breed }}</p>
        <p>Description: {{ house.description }}</p>
        <p>address: {{ house.address }}</p>
        <p>city: {{ house.city }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
  <h1 id="listing-results">Listing Results</h1>
</div>
</section>
{% endblock %}