body {
    background-color: rgb(38, 38, 38);
    height: 90vh;
    /* background-image: url(https://images5.alphacoders.com/102/1020357.jpg); */
    background-position: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}

/* ----- 'NAV BAR' STYLING BELOW THIS COMMENT ----- */

#nav-bar {
    height: 70px;
    background-color: rgb(29, 29, 29);
    color: white;
}

.home-icon {
    float: left;
    height: 60px;
    margin: 0;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links {
    height: 68px;
    float: right;
    display: inline-flex;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    padding-right: 25px;
}

ul {
    list-style: none;
    font-size: 20px;
    background-color: rgb(29, 29, 29);
}

a {
    color: white;
}

li {
    margin-left: 15px;
    margin-right: 15px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----- 'HOME PAGE' STYLING BELOW THIS COMMENT ----- */

#home-container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 10px;
    /* grid-auto-rows: minmax(100px, auto); */
}

#home-title {
    color: white;
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 45px;
    animation: fadeInDown 1s ease-in;
    font-family: 'Akshar', sans-serif;
    letter-spacing: 2px;
}

#home-quote {
    font-size: 45px;
    color: rgb(170, 110, 0);
    text-decoration: underline;
    text-decoration-color: white;
    position: absolute;
    top: 35%;
    left: 15%;
    animation: fadeIn 1s ease-in;
    font-family: 'Akshar', sans-serif;
    letter-spacing: 2px;
}

#home-info-container {
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    width: 350px;
    height: 150px;
    align-items: center;
    position: absolute;
    margin: auto;
    padding: 20px;
    color: white;
    animation: fadeIn 1s ease-in;
    top: 40%;
    left: 55%;
    border: 0.5px solid white;
}

#stay-updated {
    text-decoration: underline;
    font-family: 'Akshar', sans-serif;
    text-align: center;
    letter-spacing: 3px;
}

#container-text {
    color: white;
    font-family: 'Akshar', sans-serif;
}

#home-photo {
    background-color: black;
    display: block;
    margin: auto;
    margin-top: 25px;
    height: 550px;
    width: 955px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%);
    animation: fadeIn 1s ease-in;
    filter: blur(1.5px); */
}

main {
    height: 90vh;
}

/* ----- 'SEARCH PAGE' STYLING BELOW THIS COMMENT ----- */

#filter-location-title {
    font-size: 34px;
    color: white;
    display: block;
    text-align: center;
    text-decoration: underline;
    animation: fadeInDown 900ms ease-in-out;
}

#filter-location {
    color: white;
    display: block;
    text-align: center;
    animation: fadeInDown 700ms ease-in-out;
}

#search {
    color: white;
    align-items: center;
    background-color: rgb(29, 29, 29);
    width: 450px;
    height: 200px;
}

.search-house {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    margin: 0 auto;
    
}

#search-btn {
    margin: auto;
    display: block;
    border-radius: 9px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 25px;
    margin-top: 38px;
    text-align: center;
    width: 50%;
    height: 30px;
    
}

.card-content {
    background-color: rgb(29, 29, 29);
}

#listing-results {
    color: white;
    animation: fadeInDown 500ms ease-in-out;
    display: block;
    text-align: center;
    text-decoration: underline;
}

#id_city {
    font-size: 30px;
    margin-right: 15px;
    border-radius: 9px;
}

#id_zipcode {
    font-size: 28px;
    border-radius: 9px;
    margin-right: 15px;
    max-width: 130px;
}

/* ----- 'ADD LISTING PAGE' STYLING BELOW THIS COMMENT ---- */

#add-listing-title {
    color: white;
    text-align: center;
    text-decoration: underline;
    animation: fadeInDown 500ms ease-in-out;
}

#new-listing-form {
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    width: 400px;
    height: 350px;
    align-items: center;
    display: block;
    margin: auto;
    margin-top: 25px;
    padding: 20px;
    color: white;
}

#table-of-inputs {
    color: white;
    max-width: 10px;
}

.submit-form-btn {
    margin: auto;
    display: block;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    margin-top: 38px;
    text-align: center;
    width: 50%;
    height: 28px;
}
#id_description {
    height: 145px;
    width: 260px;
}
#id_address {
    font-size: 25px;
}
/* ----- 'REALTORS PAGE' STYLING BELOW THIS COMMENT ----- */

#realtors-list-title {
    color: white;
    display: block;
    text-align: center;
    text-decoration: underline;
    animation: fadeInDown 500ms ease-in-out;
}

/* ----- 'FOR SALE PAGE' STYLING BELOW THIS COMMENT -----  */

#for-sale-title {
    color: white;
    text-decoration: underline;
    animation: fadeInDown 500ms ease-in-out;
    text-align: center;

}

/* ---- 'DETAILS PAGE' STYLING BELOW THIS COMMENT -----  */

.search {
    color: white;
}

p {
    color: white;
}

.listed {
    color: white;
}

/* ----- 'ABOUT PAGE' STYLING BELOW THIS COMMENT ----- */

#about-page-container {
    animation: fadeInDown 500ms ease-in-out;
}

#mission-statement-title {
    font-size: 34px;
    color: white;
    text-align: center;
    animation: fadeInDown 1000ms ease-in-out;
    text-decoration: underline;
    padding-top: 70px;
}

#mission-statement {
    color: white;
    text-align: center;
    animation: fadeInDown 900ms ease-in-out;
}

#about-title {
    font-size: 34px;
    color: white;
    text-align: center;
    animation: fadeInDown 700ms ease-in-out;
    text-decoration: underline;
    padding-top: 75px;
}

#about-text {
    color: white;
    text-align: center;
    animation: fadeInDown 500ms ease-in-out;
    max-width: 60%;
    margin: 0 auto;
}

/* ----- 'LOG IN PAGE' STYLING BELOW THIS COMMENT ----- */

#log-in-container {
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    width: 350px;
    height: 300px;
    align-items: center;
    display: block;
    margin: auto;
    margin-top: 25px;
    padding: 20px;
    color: white;
    animation: fadeIn 1s ease-in;
    border: 1px solid white;
}

#log-in-title {
    text-decoration: underline;
    text-align: center;
    color: white;
    animation: fadeInDown 500ms ease-in-out;
}

#login-inputs {
    display: block;
    margin: auto;
}

#login-btn {
    margin: auto;
    display: block;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    margin-top: 38px;
    text-align: center;
    width: 50%;
    height: 28px;
}

/* ----- 'SIGN UP PAGE' STYLING BELOW THIS COMMENT -----  */

#sign-up-title {
    color: white;
    display: block;
    text-align: center;
    text-decoration: underline;
    animation: fadeInDown 500ms ease-in-out;
}

#sign-up-container {
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    width: 350px;
    height: 300px;
    align-items: center;
    display: block;
    margin: auto;
    margin-top: 25px;
    padding: 20px;
    animation: fadeIn 1s ease-in;
    border: 1px solid white;
}

#sign-up-info-text {
    color: white;
}

#sign-up-btn {
    margin: auto;
    display: block;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    margin-top: 38px;
    text-align: center;
    width: 50%;
    height: 28px;
}

/* ----- !!!! ~ ONLY ANIMATIONS BELOW THIS LINE ~ !!!! ----- */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    65% {
        opacity: .65;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

a:link {
    font: 1em Arial, sans-serif;
    display: inline-block;
    padding: 1em;margin: 1em;
    text-decoration: none;
    background-image: linear-gradient(white, white);
    background-size: 0 3px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .3s ease-out;
}
  
a:hover {
    background-size: 100% 2px, auto;
    color: rgb(170, 110, 0);
    transform: scale(1.1);
}

#sign-up-btn:hover {
    background-color: rgb(170, 110, 0);
    color: white;
}

#login-btn:hover {
    background-color: rgb(170, 110, 0);
    color: white;
}

.submit-form-btn:hover {
    background-color: rgb(170, 110, 0);
    color: white;
}

#search-btn:hover {
    background-color: rgb(170, 110, 0);
    color: white;
}