body {
    background-color: rgb(38, 38, 38);
    height: 90vh;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5a6eb76318b27d11351352e4/1517210239830-5239EO07WO8NY8MB21BW/1420LaurelWay_1.jpg);
    background-position: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;

}

h1 {
    text-align: center;
    color: white;
    font-size: 45px;
}

#hr-tag {
    max-width: 100%;
}

/* ----- 'NAV BAR' STYLING BELOW THIS COMMENT ----- */

#nav-bar {
    height: 70px;
    background-color: rgb(29, 29, 29);
    border: 1px solid white;
    color: white;
    opacity: 75%;
}

.home-icon {
    float: left;
    height: 60px;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links {
    height: 68px;
    float: right;
    display: inline-flex;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    padding-right: 25px;
}

ul {
    list-style: none;
    font-size: 20px;
    background-color: rgb(29, 29, 29);
}

a {
    color: white;
}

li {
    margin-left: 15px;
    margin-right: 15px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----- 'HOME PAGE' STYLING BELOW THIS COMMENT ----- */

#home-container {
    display: grid;
    gap: 10px;
}

#home-title {
    color: white;
    position: absolute;
    top: 30%;
    left: 15%;
    font-size: 45px;
    animation: fadeInDown 1s ease-in;
    font-family: 'Akshar', sans-serif;
    letter-spacing: 2px;
}

#home-quote {
    font-size: 45px;
    color: rgb(170, 110, 0);
    text-decoration: underline;
    text-decoration-color: white;
    position: absolute;
    top: 35%;
    left: 15%;
    animation: fadeIn 1s ease-in;
    font-family: 'Akshar', sans-serif;
    letter-spacing: 2px;
}

#home-info-container {
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    width: 350px;
    height: 200px;
    align-items: center;
    position: absolute;
    margin: auto;
    padding: 20px;
    color: white;
    animation: fadeIn 1s ease-in;
    top: 40%;
    left: 55%;
    border: 0.5px solid white;
    opacity: 75%;
}

#stay-updated {
    text-decoration: underline;
    font-family: 'Akshar', sans-serif;
    text-align: center;
    letter-spacing: 3px;
}

#container-text {
    color: white;
    font-family: 'Akshar', sans-serif;
}

#home-photo {
    background-color: black;
    display: block;
    margin: auto;
    margin-top: 25px;
    height: 550px;
    width: 955px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%);
    animation: fadeIn 1s ease-in;
    filter: blur(1.5px); */
}

main {
    height: 90vh;
}

/* ----- 'SEARCH PAGE' STYLING BELOW THIS COMMENT ----- */

#filter-location-title {
    font-size: 34px;
    color: white;
    display: block;
    text-align: center;
    text-decoration: underline;
    animation: fadeInDown 900ms ease-in-out;
}

#filter-location {
    color: white;
    display: block;
    text-align: center;
    animation: fadeInDown 700ms ease-in-out;
}

#search {
    color: white;
    align-items: center;
    background-color: rgb(29, 29, 29);
    width: 450px;
    height: 200px;
}

.search-house {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    margin: 0 auto;
    
}

#listing-results {
    color: white;
    animation: fadeInDown 500ms ease-in-out;
    display: block;
    text-align: center;
    text-decoration: underline;
}

#id_city {
    font-size: 12px;
    margin-right: 15px;
    border-radius: 9px;
    height: 25px;
    width: 140px;
}

#id_zipcode {
    font-size: 12px;
    border-radius: 9px;
    width: 60px;
    height: 25px;
}

#search-btn {
    margin: auto;
    display: block;
    border-radius: 9px;
    border: 0;
    /* box-sizing: border-box; */
    cursor: pointer;
    font-size: 18px;
    margin-top: 35px;
    margin-right: 10px;
    text-align: center;
    width: 30%;
    height: 23px;
}

/* .all-cards {
    display: inline-flex;
    flex-direction: column;
    margin: 0 auto;
} */

.house-card-content {
    background-color: rgb(29, 29, 29);
    border: 1px solid white;
    padding: 15px;
    border-radius: 9px;
    max-width: 400px;
    animation: fadeInDown 700ms ease-in-out;
    /* margin: 0 auto;
    display: inline-flex;
    flex-direction: column; */
}

/* ---- 'MARK AS SOLD PAGE' STYLING BELOW THIS COMMENT ----- */

#sell-house-title {
    font-size: 34px;
    color: white;
    text-decoration: underline;
    animation: fadeInDown 900ms ease-in-out;
}

#delete-container {
    background-color: rgb(29, 29, 29);
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 350px;
    height: 400px;
    padding: 50px;
    animation: fadeInDown 700ms ease-in-out;
}

#sell-btn {
    margin: auto;
    display: block;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    margin-top: 38px;
    text-align: center;
    width: 30%;
    height: 28px;
}

/* ----- 'HOUSE DETAILS BEFORE LISTING PAGE' STYLING BELOW THIS COMMENT ----- */

.no-photos-uploaded {
    color: white;
    display: block;
    margin: auto;
}

.listing-section {
    display: block;
    margin: auto;
    background-color: rgb(29, 29, 29);
    border: 1px solid white;
    border-radius: 20px;
    width: 450px;
    height: 200px;
}

.listed {
    text-align: center;
    display: block;
    padding-top: 10px;
}

#listing-inputs {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

#list-house-btn {
    margin: auto;
    display: block;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    margin-top: 38px;
    text-align: center;
    width: 30%;
    height: 28px;
}

#add-image-form {
    display: block;
    margin: auto;
    cursor: pointer;
} 

#photo-btn {
    cursor: pointer;
    width: 100px;
}

#choose-file-btn {
    cursor: pointer;
    width: 175px;
}

/* ----- 'ADD LISTING PAGE' STYLING BELOW THIS COMMENT ---- */

#add-listing-title {
    font-size: 34px;
    color: white;
    text-align: center;
    text-decoration: underline;
    animation: fadeInDown 700ms ease-in-out;
}

#new-listing-form {
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    border: 1px solid white;
    width: 425px;
    height: 380px;
    align-items: center;
    display: block;
    margin: auto;
    margin-top: 25px;
    color: white;
    animation: fadeInDown 500ms ease-in-out;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#table-of-inputs {
    color: white;
    max-width: 10px;
}

.submit-form-btn {
    margin: auto;
    display: block;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    margin-top: 14px;
    text-align: center;
    width: 50%;
    height: 28px;
}

#id_description {
    height: 145px;
    width: 260px;
}

#id_address {
    font-size: 12px;
    width: 260px;
}

#id_city {
    text-align: center;
}

/* ----- 'REALTORS PAGE' STYLING BELOW THIS COMMENT ----- */

#realtors-list-title {
    font-size: 34px;
    color: white;
    display: block;
    text-align: center;
    text-decoration: underline;
    animation: fadeInDown 800ms ease-in-out;
}

.card {
    text-align: center;
    animation: fadeInDown 500ms ease-in-out;
}

#realtors-profile-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
}

/* ----- 'REALTOR DETAILS PAGE' STYLING BELOW THIS COMMENT ----- */

#realtor-name {
    text-decoration: underline;
    font-size: 25px;
}

.realtor-info {
    color:rgb(170, 110, 0);
    font-size: large;
}

#realtor-inner-info {
    font-size: 16px;
}

#realtor-profile-pic {
    position: relative;
    border-radius: 40px;
    background-color: rgb(29, 29, 29);
    border: 1px solid white;
    padding: 5px;
}

#realtor-detail-card {
    color: white;
    background-color: rgb(29, 29, 29);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    width: 25%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 20px;
}

/* ----- 'FOR SALE PAGE' STYLING BELOW THIS COMMENT -----  */

#for-sale-title {
    font-size: 34px;
    color: white;
    text-decoration: underline;
    animation: fadeInDown 800ms ease-in-out;
    text-align: center;
}

.house-for-sale-card {
    background-color: rgb(29, 29, 29);
    border: 1px solid white;
    padding: 15px;
    border-radius: 9px;
    max-width: 350px;
    animation: fadeInDown 500ms ease-in-out;
}

/* ---- 'DETAILS PAGE' STYLING BELOW THIS COMMENT -----  */

.search {
    color: white;
}

.listed {
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#add-image-form {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.house-details-card {
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    max-width: 400px;
    max-height: 455px;
    align-items: center;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    animation: fadeIn 1s ease-in;
    top: 40%;
    left: 55%;
    border: 0.5px solid white;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
}

.card-action {
    text-align: center;
}

h2 {
    text-align: center;
    color: white;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.listing-section {
    margin: 0 auto;
}

span {
    color: rgb(170, 110, 0);
}

#edit-title {
    text-decoration: solid;
}

/* ----- 'ABOUT PAGE' STYLING BELOW THIS COMMENT ----- */

#about-page-container {
    animation: fadeInDown 500ms ease-in-out;
}

#mission-statement-title {
    font-size: 34px;
    color: white;
    text-align: center;
    animation: fadeInDown 1000ms ease-in-out;
    text-decoration: underline;
    padding-top: 70px;
}

#mission-statement {
    color: white;
    text-align: center;
    animation: fadeInDown 900ms ease-in-out;
}

#about-title {
    font-size: 34px;
    color: white;
    text-align: center;
    animation: fadeInDown 700ms ease-in-out;
    text-decoration: underline;
    padding-top: 75px;
}

#about-text {
    color: white;
    text-align: center;
    animation: fadeInDown 500ms ease-in-out;
    max-width: 60%;
    margin: 0 auto;
}

/* ----- 'LOG IN PAGE' STYLING BELOW THIS COMMENT ----- */

#log-in-container {
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    width: 350px;
    height: 300px;
    align-items: center;
    display: block;
    margin: auto;
    margin-top: 25px;
    padding: 20px;
    color: white;
    animation: fadeIn 1s ease-in;
    border: 1px solid white;
    opacity: 75%;
}

#log-in-title {
    font-size: 34px;
    text-decoration: underline;
    text-align: center;
    color: white;
    animation: fadeInDown 500ms ease-in-out;
}

#login-inputs {
    display: block;
    margin: auto;
}

#login-btn {
    margin: auto;
    display: block;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    margin-top: 38px;
    text-align: center;
    width: 50%;
    height: 28px;
}

/* ----- 'SIGN UP PAGE' STYLING BELOW THIS COMMENT -----  */

#sign-up-title {
    font-size: 34px;
    color: white;
    display: block;
    text-align: center;
    text-decoration: underline;
    animation: fadeInDown 500ms ease-in-out;
}

#sign-up-container {
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
    width: 300px;
    height: 300px;
    align-items: center;
    display: block;
    margin: auto;
    margin-top: 25px;
    padding: 20px;
    animation: fadeIn 1s ease-in;
    border: 1px solid white;
    opacity: 75%;
}

#sign-up-info-text {
    color: white;
}

#sign-up-btn {
    margin: auto;
    display: block;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    margin-top: 38px;
    text-align: center;
    width: 50%;
    height: 28px;
}

#id_username {
    margin: auto;
    align-items: center;
    display: inline-flex;
}

#id_password {
    margin: auto;
    align-items: center;
    display: inline-flex;
}

#id_password1 {
    align-items: center;
}

#id_password2 {
    align-items: center;
}

/* ----- !!!! ~ ONLY ANIMATIONS BELOW THIS LINE ~ !!!! ----- */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    65% {
        opacity: .65;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

a:link {
    font: 1em Arial, sans-serif;
    display: inline-block;
    padding: 1em;margin: 1em;
    text-decoration: none;
    background-image: linear-gradient(white, white);
    background-size: 0 3px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .3s ease-out;
}
  
a:hover {
    background-size: 80% 2px, auto;
    color: rgb(170, 110, 0);
    transform: scale(1.1);
}

#sign-up-btn:hover {
    background-color: rgb(170, 110, 0);
    color: white;
}

#login-btn:hover {
    background-color: rgb(170, 110, 0);
    color: white;
}

.submit-form-btn:hover {
    background-color: rgb(170, 110, 0);
    color: white;
}

#search-btn:hover {
    background-color: rgb(170, 110, 0);
    color: white;
    text-decoration: none;
}

#list-house-btn:hover {
    background-color: rgb(170, 110, 0);
    color: white;
}

#sell-btn:hover {
    background-color: red;
    color: white;
}

/*---------------SLIDE GALLERY CSS ---------------------*/

* {
    box-sizing: border-box;
}
  
/* Position the image container (needed to position the left and right arrows) */

.slide-gallery {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: 0 auto;
}

/* Hide the images by default */

.mySlides {
    display: none;
    /* max-height: 475px;
    max-width: 475px; */
}

/* Add a pointer when hovering over the thumbnail images */

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    /* position: absolute; */
    /* top: 40%; */
    width: auto;
    max-height: 30px;
    color: rgb(170, 110, 0);
    font-weight: bold;
    font-size: 30px;
    user-select: none;
    -webkit-user-select: none;
    justify-content: baseline;
    margin-top: 15%;
}
  
/* Position the "next button" to the right */

.next {
    right: 0;
    color: white;
}
  /* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: none;
  transform: scale(1.1);
}